  body {
  font: 14px "Comic Sans MS", cursive, sans-serif;
  margin-top: 70px;
}

html { 
  background: linear-gradient(#0c5260, #0c5260);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.super {
	text-align: center;
	color: white;
}

.image {
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.button {
    background-color: #fc801a;
    width: 90%;
    border: none;
    color: #fff;
    padding: 5%;
    text-align: center;
    font-size: 16px;
    position: fixed;
    bottom: 30px;
    left: 5%;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}